In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
#store the csv file created earlier into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,La Romana,DO,2021-07-27 21:00:17,18.4273,-68.9728,87.89,54,54,16.24
1,1,Lagunas,PE,2021-07-27 21:03:07,-5.2269,-75.6753,87.82,55,92,2.48
2,2,Mutsu,JP,2021-07-27 21:03:07,41.2894,141.2169,73.00,97,95,10.76
3,3,Bluff,NZ,2021-07-27 21:03:07,-46.6000,168.3333,48.79,70,16,15.82
4,4,Rikitea,PF,2021-07-27 21:03:08,-23.1203,-134.9692,74.48,77,100,15.10

In [3]:
#check data types for dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [5]:
#get max temps
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp,0))

In [13]:
#heatmap of temp
#get locations
locations = city_data_df[["Lat", "Lng"]]

#get max temp
max_temp = city_data_df["Max Temp"]

#assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)


#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#ask the customer to add a minimum and amximum tempterature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [21]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,La Romana,DO,2021-07-27 21:00:17,18.4273,-68.9728,87.89,54,54,16.24
1,1,Lagunas,PE,2021-07-27 21:03:07,-5.2269,-75.6753,87.82,55,92,2.48
5,5,Nabire,ID,2021-07-27 20:59:12,-3.3667,135.4833,76.50,87,100,3.36
11,11,Ati,TD,2021-07-27 21:03:09,13.2154,18.3353,78.01,76,66,13.80
15,15,Lompoc,US,2021-07-27 21:03:10,34.6391,-120.4579,87.94,69,40,14.97
16,16,Olutanga,PH,2021-07-27 21:03:11,7.3106,122.8464,84.00,77,100,12.39
17,17,Fort Wellington,GY,2021-07-27 21:03:11,6.4000,-57.6000,82.29,75,5,8.32
19,19,Hambantota,LK,2021-07-27 21:03:12,6.1241,81.1185,80.42,78,100,18.59
21,21,Jamestown,US,2021-07-27 21:00:29,42.0970,-79.2353,76.37,78,94,10.27
22,22,Agropoli,IT,2021-07-27 21:03:13,40.3469,14.9966,83.44,50,56,3.76

In [22]:
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [23]:
#create a dataframe to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         La Romana      DO     87.89  18.4273  -68.9728
1           Lagunas      PE     87.82  -5.2269  -75.6753
5            Nabire      ID     76.50  -3.3667  135.4833
11              Ati      TD     78.01  13.2154   18.3353
15           Lompoc      US     87.94  34.6391 -120.4579
16         Olutanga      PH     84.00   7.3106  122.8464
17  Fort Wellington      GY     82.29   6.4000  -57.6000
19       Hambantota      LK     80.42   6.1241   81.1185
21        Jamestown      US     76.37  42.0970  -79.2353
22         Agropoli      IT     83.44  40.3469   14.9966

In [25]:
#set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

#iterate through the Dataframe
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the latitude and longitude to location key for params dictionary
    params["location"] = f"{lat}, {lng}"
    
    #use the search tem: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make request and get JSON data from search
    hotels = requests.get(base_url, params=params).json()
    #grab first hotel and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,La Romana,DO,87.89,18.4273,-68.9728,Casa de Campo Resort and Villas
1,Lagunas,PE,87.82,-5.2269,-75.6753,Hospedaje Eco
5,Nabire,ID,76.50,-3.3667,135.4833,Hotel Nusantara Nabire
11,Ati,TD,78.01,13.2154,18.3353,
15,Lompoc,US,87.94,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
16,Olutanga,PH,84.00,7.3106,122.8464,Morales Lodge
17,Fort Wellington,GY,82.29,6.4000,-57.6000,TE'AMO Entertainment Park
19,Hambantota,LK,80.42,6.1241,81.1185,Bungalow 63
21,Jamestown,US,76.37,42.0970,-79.2353,Hampton Inn & Suites Jamestown
22,Agropoli,IT,83.44,40.3469,14.9966,B&B Baia di Trentova

In [30]:
#add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

#store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
#add a heatmap of temperature for vacation spots and pop up marker for hotels
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))